In [16]:
data="This is test sentance"

In [18]:
split_data=data.split()

In [21]:
len(split_data[1])

2

In [27]:
tdict={}

In [29]:
tdict.update('split_data[1]':len(split_data[i]))

SyntaxError: invalid syntax (<ipython-input-29-c1d49ac62f20>, line 1)

In [26]:
for i in range(0,len(split_data)):
        print(split_data[i])
        print(len(split_data[i]))

This
4
is
2
test
4
sentance
8

In [31]:
#Function Defination

def splitword(data):
    temp={}
    split_data=data.split()
    for i in range(0,len(split_data)):
        temp.update({split_data[i]:len(split_data[i])})
return temp

#Call to Function
test=splitword(test1)
#Converting into dataframe
output=pd.DataFrame.from_dict(test.items())

In [41]:
test1='this is the athoer test'
test=splitword(test1)
print(test)

{'this': 4, 'is': 2, 'the': 3, 'athoer': 6, 'test': 4}

In [44]:
import pandas as pd
output=pd.DataFrame.from_dict(test.items())

In [45]:
output

        0  1
0    this  4
1      is  2
2     the  3
3  athoer  6
4    test  4